$colors: (
  navColor:#8D7249,
  backgroundColor: #B5985A,
  headingColor: #9ca9ab,
  textColor: #000000,
);
$fonts: (
  heading: BickhamScriptPro,
  subHeading: CormorantGaramond,
  normalText: SourceSansPro,
);
